<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261992976571-oshi5d6126of72d7je1tn5h2floqv2v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261992976571-oshi5d6126of72d7je1tn5h2floqv2v6</string>
	<key>API_KEY</key>
	<string>AIzaSyBi_t228qzShX6TBdhIVCbi8adwLnOXLlE</string>
	<key>GCM_SENDER_ID</key>
	<string>261992976571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HYNeighbor.app</string>
	<key>PROJECT_ID</key>
	<string>helpneighbor-6a8d3</string>
	<key>STORAGE_BUCKET</key>
	<string>helpneighbor-6a8d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261992976571:ios:1aa64a0ddc76c5c9b5999e</string>
	<key>DATABASE_URL</key>
	<string>https://helpneighbor-6a8d3.firebaseio.com</string>
</dict>
</plist>